/** 
 * Week 3, Project 3 
 * David Tyler Kneisly 
 * VFW 1205
 * Book Tracker
 */

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: auto;
    overflow: scroll;
    background-color: #9a9a9a;
}
header {
    display: block;
    position: relative;
    padding: 5px 0px 5px 0px;
    width: 100%;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#dfe1e5), color-stop(1, #ebedf2) );
    background: -moz-linear-gradient( center bottom, #dfe1e5 0%, #ebedf2 100% );
    border: 1px solid #aaa;
    -moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    opacity: .95;
}
h1 {
    position: relative;
    font-family: Helvetica;
    font-size: 20px;
    margin: 10px;
    color: #2a2a2a;
    width: 95%;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}
nav {
    display: block;
    position: relative;
    margin: 8px 5px 8px 5px;
    padding: 5px 0 5px;
    background-color: #ff8e33;
    border: 1px solid #f79b50;
    border-radius: 6px;
     -moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    line-height: 30px;
    color: #2a2a2a;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
}
a {
    outline: none;
    color: black;
}
a:hover {
    outline: none;
    color: black;
}
#clear {
    margin: 0 0 0 -10px;
}
#display {
    margin: 0 0 0 10px;
}
#addNew {
    margin: 0 0 0 10px;
}
form {
    position: relative;
    margin: 0 5px 0 5px;
    border-radius: 6px;
    border: none;
    padding: 5px 10px 5px 10px;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#dfe1e5), color-stop(1, #ebedf2) );
    background: -moz-linear-gradient( center bottom, #dfe1e5 0%, #ebedf2 100% );
    border: 1px solid #fff;
    -moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    opacity: .95;
}
fieldset {
    margin: 0 0 0 -15px;
    letter-spacing: 1px;
    line-height: 30px;
    border: none;
    color: #777777;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #FFF;
    line-height: 22px;
    list-style-type: none;
}
legend {
    margin: 0 0 0 5px;
    color: #2a2a2a;
    text-align: left;
    font-size: 16px;
    font-weight: 3px;
    text-shadow: 1px 1px 1px #fff;
}
.fieldSet label {
    width:195px;
    margin-top: 6px;
    display: inline-block;
    padding: 3px;
}
.fieldSet input {
    height: 25px;
    width: 195px;
    padding: 5px 8px;
    border: 1px solid #aaa;
    border-radius: 6px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
    display: inline;
    vertical-align: text-top;
}
.fieldSet textarea {
    height: 80px;
    width: 200px;
    border: 1px solid #aaa;
    border-radius: 6px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
    vertical-align: bottom;
    /* Source for box-shadow style: http://webdesign.tutsplus.com/tutorials/site-elements/bring-your-forms-up-to-date-with-css3-and-html5-validation/  */
    /* Box-shadow style only visible in desktop browsers.*/
}
.fieldSet input:focus,
.fieldSet textarea:focus {
    background: #fff;
    border: 1px solid #555;
    box-shadow: 0 0 3px #aaa inset;
}

.checkbox label{
    display: inline;
    height: 20px;
    vertical-align: text-top;
}
.checkbox input{
    width: 10px;
    height: 17px;
    vertical-align: bottom;
}
ul,
li { 
    display: block;
}
div#index {
    position: relative;
    margin: 8px 5px 0 5px;
    border-radius: 6px;
    border: none;
    padding: 5px 10px 5px 10px;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#dfe1e5), color-stop(1, #ebedf2) );
    background: -moz-linear-gradient( center bottom, #dfe1e5 0%, #ebedf2 100% );
    border: 1px solid #fff;
    -moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    opacity: .95;
    text-align: center;
}
div#items {
    position: relative;
    display: block;
    width: 100%;
}
div#items ul {
    position: relative;
    width: 93%;
    border-radius: 6px;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#dfe1e5), color-stop(1, #ebedf2) );
    background: -moz-linear-gradient( center bottom, #dfe1e5 0%, #ebedf2 100% );
    border: 1px solid #fff;
    -moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    opacity: .95;
    letter-spacing: 1px;
    word-wrap: normal;
    line-height: 30px;
    padding: 5px 5px 5px 5px;
    margin: 0px 5px 10px 5px;
    font-family: arial;
    font-size: 12px;
    text-shadow: 1px 1px 0 #ffffff;
    color: black;
    line-height: 22px;
    list-style-type: none;
}
ul#errors {
    width: 88%;
    margin: 3px 0 3px 3px;
    background-color: #ebedf2;
    border-radius: 6px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0,#ccd1de), color-stop(1, #dfe1e5));
    background: -moz-linear-gradient(center bottom, #ccd1de 0%, #dfe1e5 100%);
    border: .75px solid #aaa;
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    opacity: .95;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 30px;
    color: #1c1601;
}
input[type="submit"] {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    color: #2a2a2a;
    width: 155px;
    height: 3em;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;

    /*display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-family: Arial;
    font-size: 13px;
    margin-bottom: 20px;
    width: 195px;
    height: 30px;*/
}