/* 
Week 3, Project 3 
David Tyler Kneisly 
VFW 1205
Book Tracker
*/

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 10px;
    overflow: scroll;
    background-color: #b3b3b3;
    /*background-color: #1593d1;*/
}

header {
    display: block;
    position: relative;
    padding: 10px 0px 10px 0px;
    width: 100%;
    background: -webkit-linear-gradient(top, #d3d3d4, #d3d3d4 10%, #d3d3d4, #b0b1b0 90%, #9a9b9a);
}

h1 {
    position: relative;
    font-family: Helvetica;
    font-size: 21px;
    margin: 10px;
    padding: 0px;
    color: #2a2a2a;
    width: 95%;
    text-align: center;
    text-shadow: 1px 1px 1px #dfdfdf;
}

nav {
    display: block;
    position: relative;
    background-color: #ff7201;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 1px;
    line-height: 30px;
    border-radius: 6px;
    border-radius:;
    color: #777777;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
    padding: 5px 0px 5px 10px;
}

nav.content {
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
}



div#items {
    font-family: Verdana;
    font-weight: normal;
    text-transform: lowercase;
}

a {
    outline: none;
    color: black;
}

a#itemid="clear" {
    text-align: left;
}

a:hover {
    outline: none;
    color: blue;
}

p {
    word-wrap;
}

ul, li, label {
    display: block;
}

form:before {
    padding: 20px 0px 0px 0px;
}

form {
    display: block;
    position: relative;
    background-color: #DDD;
    letter-spacing: 1px;
    line-height: 30px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    color: #777777;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
    padding: 5px 0px 5px 10px;
    border: 5px #999;
    line-height: 22px;
}

legend {
    text-align: left;
    font-size: 18px;
    font-weight: 3px;
}

fieldset {
    display: block;
    border: none;
    background-color: #DDD;
}